<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Resume</display-name>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.Answer.Servlet.loginservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.Answer.Servlet.logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>regservlet</servlet-name>
    <servlet-class>com.Answer.Servlet.regservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>filedownload</servlet-name>
    <servlet-class>com.Answer.Servlet.filedownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.Answer.Servlet.delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>alterinfo</servlet-name>
    <servlet-class>com.Answer.Servlet.alterinfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>savemesage</servlet-name>
    <servlet-class>com.Answer.Servlet.savemesage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changehead</servlet-name>
    <servlet-class>com.Answer.Servlet.changehead</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>talk</servlet-name>
    <servlet-class>com.Answer.Servlet.talk</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>chart_all</servlet-name>
    <servlet-class>com.Answer.Servlet.chart_all</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regservlet</servlet-name>
    <url-pattern>/regservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>filedownload</servlet-name>
    <url-pattern>/filedownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>alterinfo</servlet-name>
    <url-pattern>/alterinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>savemesage</servlet-name>
    <url-pattern>/savemesage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changehead</servlet-name>
    <url-pattern>/changehead</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>talk</servlet-name>
    <url-pattern>/talk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chart_all</servlet-name>
    <url-pattern>/chart_all</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>205</error-code>
    <location>/errorpage/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>